<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JsonToModelConverter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>569A18591F4BB40E00D991DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>569A186F1F4BB40E00D991DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>569A187A1F4BB40E00D991DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
